<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <title>SkillerBot | Questionnaire</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/libs/animate.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" /> -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">

    <!-- JS -->
    <script src="/js/main.js" type="text/javascript"></script>

</head>

<body class="profile-body">
    <div class="inner-box">
        <%- include header.ejs %>

        <h1 class="profile-name font-25">
            <strong>Last Step - </strong> Feed the answers & bring the BOT to life : </h1>
        <form class="questionnaireSection" style="margin-left: 50px" action="/profile/accounts?id=<%= userid  %>" onsubmit="return saveUserData()"
            method="post">
            <% for ( var key in questions) {%>
                <label for="userResponse" class="font-18">
                    <%=questions[key] %>
                </label>
                <br />
                <input type="text" name="userResponse" id="<%=key %>" class="userInputDetails" placeholder="Please Enter here ..." required
                />
                <br />
                <% } %>
                    <div class="align-center">
                        <button type="submit" class="qbutton">SAVE
                            <i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
        </form>

        <div style="background: #fff; width:100%;">
            <h1 class="slide-indicator font-18" style="text-align:center">
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle active"></i>
                <i class="fa fa-circle"></i>
            </h1>
        </div>

        <%- include menu-items.ejs %>

    </div>
</body>

</html>